.box{
  background-color: pink;
  width: 100px;
  height: 200px;
  transition: 1s 2s 1s 2s;
}

.box:hover{
  background-color: lightblue;
  width:200px;
  height:300px;
}

@keyframes slidein {
  from{
    font-size: 300%;
    margin-left: 100%;
    width: 300%;
  }

  50%{
    margin-left: 40%;
    width: 135%;
    font-size: 300%;
  }

  75%{
    margin-left: 20%;
    width: 105%;
  }

  to{
    margin-left: 0%;
    width: 100%;
    font-size: 100%;
  }
}

.slide-in{
  animation: 1s 5 alternate slidein;
  font-size: 1%;

  animation-duration: 4s;
  animation-name: slidein;
  animation-iteration-count: 4;
  animation-direction: alternate;
}

.slide-in{
  /* transition: <property> <duration> <timing-function> <delay> */
  transition-property: font-size;
  transition-duration: 4s;
  transition-delay: 2s;
}

.slide-in:hover{
  font-size: 300%;
}

nav{
  display:flex;
  gap: 0.5em;
}

a{
  flex: 1;
  background-color: white;
  color: purple;
  border: 1px solid;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease-out 1s;`
}

a:hover,
a:focus{
  background-color: pink;
  color: blue;
}
