#changeMe{
  width: 200px;
  height: 200px;
  background: lightpink;
  margin: 20px auto;
}

#paragraph{
  background: lightgreen;
  width: 120px;
  height: 50px;
  padding: 20px;
}

.gallery img{
  width: 230px;
  padding: 5px;
  filter: grayscale(100%);
  transition: 1s;
}

.gallery img:hover{
  filter: grayscale(0);
  transform: scale(1.1);
}
