body{
  background-color: #FFFFFF;
}

p{
  font-family: freight-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  max-width: 70ch;
  color: #999999;
  text-align: center;
}

img{
  /*position: relative;
  left: 150px;
  bottom: 100px;
  width:1100px;*/
  width: 100%;
  margin: 0 auto;
}

h3{
  color: #E8AFA9;
  margin-bottom:0;
}

h4{
  margin-top:0;
}

#EricaHung{
  font-family: scriptorama-markdown-jf, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  letter-spacing: 12px;
  text-align: center;
  color: #E8AFA9;

}

#subtitle{
  font-family: freight-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  text-align: center;
  color: #A1A1A1;
}

#NavBar{
  font-family: freight-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  width: 100%;
  display: flex;
}

ul{
  list-style-type: none;
}

li{
  display: inline-flex;
}

#AboutMe{
  font-family: scriptorama-markdown-jf, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  text-align: center;
  color: #E8AFA9;
  padding-bottom: 0;
  margin-bottom: 70px;
}

#Description{
  text-align: center;
  margin: auto;
  margin-top:20px;
  line-height: 40px;
}

#Works{
  font-family: scriptorama-markdown-jf, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  text-align: center;
  color: #E8AFA9;
  padding-bottom: 0;
  margin-bottom: 70px;
}

#FunFacts{
  font-family: freight-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

#fun{
  text-align: center;
}

#journey{
  width: 80%;
}

#Contact{
  font-family: freight-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  text-align: center;
  box-sizing: border-box;
  width:200px;
  padding:20px;
}

#contactform{
  font-family: freight-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  text-align: center;
}

input[type=text] {
  padding: 15px;
  margin: 15px;
  font-family:inherit;
  font-size: 15px;
  border-radius: 12px;
  border-style: solid;
  border-width: 1px;
  border-color: #E8AFA9;
  width: 30%;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 28px;
  text-align:center;
}

textarea{
  width:30%;
  resize: vertical;
  padding:15px;
  height:150px;
  font-family: freight-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  margin-left: 15px;
  margin-top: 0px;
  border-radius: 12px;
  border-color: #E8AFA9;
  text-align:center;
}

button{
  appearance:none;
  -webkit-appearance:none;

  padding:10px;
  border:none;
  background-color: #E8AFA9;
  color: #FFFFFF;
  font-weight:600;
  width:32.3%;

  font-family: freight-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  margin-left: 15px;
  margin-top: 0px;
  border-radius: 12px;

}

a:link, a:visited{
  color: #FFFFFF;
  background-color: #E8AFA9;
  padding: 20px 30px;
  text-decoration: none;
  display: inline-block;
}

a:hover{
  color: #A37A72;
}

.grid-container {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-auto-rows: minmax(400px, auto);
  text-align: center;
}
.grid-item {
  padding: 100px;
  font-size: 30px;
  text-align: center;
  width: 400px;
}

@media screen and (max-width: 1920px){
  #EricaHung{
    display: flex;
    font-size: 100px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  #NavBar{
    font-size: 22px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }

  #journey{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }

  /* #contactform{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  } */

@media screen and (max-width: 600px){
  #EricaHung{
    display: flex;
    font-size: 55px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  #NavBar{
    font-size: 17px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  #journey{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }

  #contactform{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  }

  .grid-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  a:link, a:visited{
    padding: 15px 20px;
  }
  #AboutMe{
    font-size: 15px;
  }
  #FunFacts{
    font-size: 15px;
  }
  #Contact{
    font-size: 15px;
  }
}
