body{
  background-color: #FFFFFF;
}

p{
  font-family: freight-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  max-width: 70ch;
  color: #999999;
  text-align: center;
}

img{
  /*position: relative;
  left: 150px;
  bottom: 100px;
  width:1100px;*/
  width: 100%;
  margin: 0 auto;
}

h3{
  color: #E8AFA9;
  margin-bottom:0;
}

h4{
  margin-top:0;
}

#EricaHung{
  font-family: scriptorama-markdown-jf, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  letter-spacing: 12px;
  text-align: center;
  color: #E8AFA9;

}

#subtitle{
  font-family: freight-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  text-align: center;
  color: #A1A1A1;
}

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #E8AFA9;
  text-align: center;
}

li {
  float: left;
  font-family: freight-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  text-align: center;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #FFC1BA;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#AboutMe{
  font-family: scriptorama-markdown-jf, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  text-align: center;
  color: #E8AFA9;
  padding-bottom: 0;
  margin-bottom: 70px;
}

#Description{
  text-align: center;
  margin: auto;
  margin-top:20px;
  line-height: 40px;
}

#Works{
  font-family: scriptorama-markdown-jf, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  text-align: center;
  color: #E8AFA9;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#FunFacts{
  font-family: freight-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

#journey{
  width: 80%;
}

#Contact{
  font-family: scriptorama-markdown-jf, sans-serif;
  text-align: center;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
}

#inputbox{
  font-family: freight-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

input[type=text]{
  padding: 15px;
  font-family:inherit;
  font-size: 15px;
  border-radius: 12px;
  border-style: solid;
  border-width: 1px;
  border-color: #E8AFA9;
  width: 30%;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 28px;
  margin: 5px;
  text-align:center;
}

textarea{
  width:30%;
  resize: vertical;
  padding:15px;
  margin-top: 0px;
  height:150px;
  font-family: freight-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  border-radius: 12px;
  border-color: #E8AFA9;
  text-align:center;
}

input[type=button]{
  padding:10px;
  border:none;
  background-color: #E8AFA9;
  color: #FFFFFF;
  font-weight:600;
  width:32.3%;

  font-family: freight-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  margin-top: 0px;
  border-radius: 12px;
}

input[type=button]:hover{
  background-color: #FFC1BA;
}


.grid-container {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 300px 300px 300px;
  grid-gap: 10px;
  padding: 30px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.grid-item1 {
  grid-row: 1 / 3;
}

.grid-item5 {
  margin-left: 50px;
}

#paragraph{
  background: #E8AFA9;
  width: 150px;
  height: 60px;
  padding: 30px;
  margin-bottom: 100px;
  text-align: center;
}

#changeMe{
  width: 200px;
  height: 200px;
  background: lightpink;
}

button{
  padding:10px;
  border:none;
  background-color: #E8AFA9;
  color: #FFFFFF;
  font-weight:600;
  width:32.3%;

  font-family: freight-sans-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  margin-bottom: 20px;
  border-radius: 12px;
}

@media screen and (max-width: 1920px){
  #EricaHung{
    display: flex;
    font-size: 100px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }

  #journey{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }

  /* #contactform{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  } */

@media screen and (max-width: 600px){
  #EricaHung{
    display: flex;
    font-size: 55px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }

  #journey{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }

  #contactform{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }

  #subtitle{
    font-size: 16px;
  }

  #Works{
    font-size: 20px;
  }

  #AboutMe{
    font-size: 20px;
  }

  .grid-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  a:link, a:visited{
    padding: 15px 20px;
  }

  #Contact{
    font-size: 20px;
  }

  p{
    font-size: 17px;
  }
}
